
{
  "extends": "@nuxtjs/eslint-config-typescript",
  "rules": {
  "vue/max-attributes-per-line": 0,
  "no-unused-vars": "off",
    "space-before-function-paren": "off",
    "camelcase": "off",
    "require-await": "off",
  "@typescript-eslint/no-unused-vars":  "off"
}
}
