body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #EEEEEE;
}
.pointer{
    cursor: pointer;
}
body, h1, h3, h4, h5, h6 {
    font-family: 'Open Sans',sans-serif;
    color:  #777;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    color: #777;
    font-weight: 200;
    font-size: 2.5em;
}
.h3, h3 {
    font-size: 24px;
}
.rotating{
    animation: loading-rotate 0.5s linear 1;
}
@keyframes loading-rotate {
    100% {
        transform: rotate(360deg);
    }
}
header.el-header{
    padding: 0;
    z-index: 10;
}
.el-container .el-main{
    padding: 0;
    position: relative;
    top: -60px;
}
.lead {
    font-size: 18px;
    font-weight: 400;
    color: #777;
    margin-bottom: 20px;
    line-height: 1.4;
}
.el-container .page-container{
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.section-light{
    z-index: 10;
    padding: 50px 0;
    background-color:  #f8f8f8;
}
.section-dark{
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid  #e7e7e7;
    background-color: #eee;
}
.text-center{
    text-align: center;
}
.page-container.full-width{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
a{
    cursor: pointer;
}
.el-dialog {
    width: 25%;
}
@media screen and (max-width: 640px) {
    .el-container .page-container{
        width: 100%;
    }
    .el-container .page-container .el-col {
        padding: 10px;
    }

    .el-dialog {
        width: 90%;
    }

    .el-container.is-vertical {
        overflow-x: hidden;
    }
}
